@keyframes flyfrombot{
    from{margin-top: 5%; opacity: 0;}
    to{margin-top: 0%; opacity: 1}
}

@keyframes flyfrombotd1{
    0%{margin-top: 5%; opacity: 0;}
    50%{margin-top: 5%; opacity: 0;}
    100%{margin-top: 0%; opacity: 1}
}

.transparent{
    opacity: 0;    
}

.flyb{
    animation: flyfrombot 1s ease-out;
}

.flybd1{
    animation: flyfrombotd1 1s ease-out;
}

.navtra{
    background: transparent;
}

.ba1{
    position: relative;
    min-height: 400px;
    z-index: 0;
    background: linear-gradient(to bottom left, Aquamarine 0%, Aqua 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.gap{
    position: relative;
    min-height: 200px;
    margin-top: -100px;
    z-index: -10;
    background: linear-gradient(to right, White, MediumSpringGreen);
}

.ba2{
    position: relative;
    min-height: 400px;
    margin-top: -100px;
    padding: 1px;
    z-index: 1;
    background: linear-gradient(to bottom right, LightSkyBlue 0%, LightPink 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 20%, 100% 80%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 20%, 100% 80%, 0% 100%);
}

body{
    cursor: url(cursor.png), pointer;
}
